/* ============ FONTS ============ */
/* IBM Plex mono/sans */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

/* ============ CSS VARIABLES ============ */
:root {
  --header-height: 6rem;

  /* Margins */
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;

  /* Hover overlay */
  --btn-transition: 0.7s;

  /* Font and typography */
  --main-font: "IBM Plex Mono", monospace;
  --second-font: "IBM Plex Sans", monospace;
  --bigget-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Colours */
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}

/* ============ RESET CSS ============ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--navy);
  color: var(--slate);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ============ REUSABLE CSS CLASSES ============ */
.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.flex {
  display: flex;
}

/* For project container */
.project__container {
  max-width: 80%;
  height: 380px;
  margin: 5rem auto 8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
}

.technology {
  padding: 0.3rem .5rem;
  margin-right: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.35);
  color: white;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.project__subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.project__info {
  padding: 2.4rem;
  flex-direction: column;
  font-family: var(--second-font);
  color: white;
  row-gap: .878rem;
  line-height: 1.5;
  
  margin-bottom: 1rem;
}

.project__links {
  font-size: 1.8rem;
  color: white;
}

.project__links-gh,
.project__links-demo{
  color: white;
}

/* Buttons */

/* ============ HEADER ============ */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}
/* Hide header on scroll */
.hide__header {
  background: transparent;
  box-shadow: none;
}

/* ============ NAV ============ */
/* Nav Menu */
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5rem;
  background-color: var(--navy);
}

.nav__list {
  display: flex;
  column-gap: 3.5rem;
  padding-right: 3rem;
  list-style: none;
}

.hide__menu {
  display: none;
}

.nav__link {
  padding-bottom: 5px;
  color: var(--lightest-slate);
}

.nav__item{
  font-size: 14px;
}

.nav__item a span {
  color: #64ffda;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--green);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Nav logo */
.triple-border {
  display: inline-block;
  position: relative;
}

.triple-border:before,
.triple-border:after {
  content: "";
  position: absolute;
  z-index: 2;
  border: 2px solid var(--green);
  border-radius: 5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.triple-border:before {
  left: 0;
  top: 0;
}

.triple-border:after {
  right: 0;
  bottom: 0;
}

.triple-border__container {
  color: var(--green);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem;
}

.triple-border:hover .triple-border__container {
  color:var(--navy);
  background-color:var(--green);
}

.new__logo {
  color: var(--green);
  background: var(--navy);
}

.nav__toggle{
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 100;
  display: none;
}

/* ============ HOME ============ */
.home {
  height: 100vh;
}
.home__container {
  display: flex;
  padding-top: 6rem;
  position: relative;
  justify-content: center;
}

.home__info {
  flex-direction: column;
  max-width: 70%;
  padding-top: 3rem;
  justify-content: center;
}

.home__info-intro {
  font-size: var(--h3-font-size);
  font-weight: 500;
}

.home__info-name {
  font-size: var(--h1-font-size);
  font-weight: 700;
}

.home__info-desc1 {
  font-size: var(--h3-font-size);
}

.home__info-desc2 {
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding-bottom: 1rem;
}

.home__info-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(27, 78, 81);
  width: fit-content;
  padding: 1rem 2.2rem;
  color: white;
  margin-top: 3rem;
  border-radius: 10px;
  z-index: 10;
}

.home__info-arrow {
  font-size: 1.25rem;
  padding-left: 10px;
  position: relative;
  animation: linear infinite alternate;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: translateArrow;
  -webkit-animation-duration: 1s;
  animation-name: translateArrow;
  animation-duration: 1s;
}

.home__info-btn::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(27, 78, 81);
  border-radius: 10px;
  width: calc(100%);
  height: calc(100%);
  top: 5px;
  left: 5px;
  z-index: -1;
}

.home__info-btn:hover {
  background-color: black;
  transition: var(--btn-transition);
  z-index: 100;
}

/* Change the ::before properties when hovering the parent */
.home__info-btn:hover::before {
  border: 1px solid black;
  transition: var(--btn-transition);
  width: calc(90%);
  height: calc(90%);
  top: 0;
  left: 0;
}

.home__info-btn:hover .home__info-arrow {
  animation: none;
}

.home__img img {
  padding-left: 20px;
}

/* ============ ABOUT ============ */
.about__title {
  font-size: var(--h1-font-size);
  width: fit-content;
}

.about__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 300px;
  background-color: lightgray;
  position: relative;
  top: -6px;
}

.about__container {
  grid-template-columns: 1.2fr 1fr;
  padding-top: 2rem;
  column-gap: 2rem;
}

.about__description {
  font-family: var(--second-font);
  line-height: 1.5;
  font-size: 1.25rem;
}

.about__info-tech {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.89rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.ri-arrow-right-s-fill {
  font-weight: bold;
}

.about__img {
  margin: 0 auto;
  z-index: 2;
}

.about__img-wrapper {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 5px;
}

.about__img-overlay {
  height: 100%;
  border-radius: 5px;
}

.about__img-wrapper::before {
  content: "";
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
}

.about__img-wrapper::before {
  top: 15px;
  left: 15px;
}

.about__img-wrapper:hover::before {
  top: 8px;
  left: 8px;
  transition: 0.3s;
}

/* ============ CASE STUDIES ============ */
.cs__container {

}

.project__title {
  font-size: var(--h1-font-size);
  padding-right: 3rem;
}

.project__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 300px;
  background-color: lightgray;
  position: relative;
  top: -6px;
}

.project__one {
  grid-template-columns: 1fr 1.3fr;
  background: linear-gradient(
    90deg,
    rgba(16, 118, 146, 1) 49%,
    rgba(92, 170, 195, 1) 100%
  );
}

.project__two {
  grid-template-columns: 1fr 1.3fr;
  background: linear-gradient(
    90deg,
    rgba(78, 150, 79, 1) 0%,
    rgba(87, 168, 98, 1) 45%,
    rgba(113, 218, 148, 1) 87%
  );
}

.project__img {
  justify-content: space-around;
  align-items: flex-end;
  padding-right: .5rem;
}

.project__img-1,
.project__img-2 {
  height: 325px;
  width: 190px;
}

.project__links-gh:hover,
.project__links-demo:hover {
  color: rgb(93, 92, 92);
}

@media screen and (max-width: 1080px){
  .project__img-2{
    display:none;
  }
}

/* ============ CONTACT ============ */
.contact__container {
  flex-direction: column;
  margin-top: 10rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;;
}

.contact__title {
  font-size: var(--h1-font-size);
  text-align: center;
}
.contact__description {
  text-align: center;
  width: 50%;
}

.contact__button {
  position: relative;
  background-color: rgb(27, 78, 81);
  width: fit-content;
  padding: 1rem 2.2rem;
  color: white;
  border-radius: 10px;
  z-index: 10;
}

.contact__button::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(27, 78, 81);
  border-radius: 10px;
  width: calc(100%);
  height: calc(100%);
  top: 5px;
  left: 5px;
  z-index: -1;
}

.contact__button:hover {
  background-color: black;
  transition: var(--btn-transition);
  z-index: 100;
}

.contact__button:hover::before {
  border: 1px solid black;
  width: calc(90%);
  height: calc(90%);
  top: 0;
  left: 0;
}

.contact__socials i{
  color: rgb(27, 78, 81);
  font-size: 1.6rem;
  margin-right: 5px;
}

.contact__in:hover,
.contact__gh:hover{
  color: black;
}

/* =========== FOOTER ===========*/
.footer__line {
  height: 1px;
  width: 70%;
  background-color: lightgray;
  margin: 0 auto;
}

.footer__info {
  margin: 0 auto;
  width: fit-content;
  padding: 1.3rem 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

/* ========== KEYFRAMES ==========*/
/* keyframes for arrow animation */
@keyframes translateArrow {
  0% {
    left: -3%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 3%;
  }
}

/* ======== MEDIA QUERIES ======== */

@media screen and (min-width: 1600px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .home__img {
    display: none;
  }
  
  .container{
    max-width: 100%;
    padding: 0 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    padding-top: 7rem;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .home__info{
    max-width: 100%;
  }
  .home{
    height: 100vh;
  }

  .about__container{
    display:flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    align-items: center;
  }
  .about__img{
    margin: 5rem auto;
  }

  .cs__container{
    padding-top: 10rem;
  }
  .project__container{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    height: 600px;
    padding: 2rem;
  }
  .project__info{
    padding: 0;
  }
  .project__img-1{
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .nav{
    width: 100%;
    display:flex;
  }
  .nav__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 50px 10px;
    width: 100%;s
    box-shadow: 0 4px 4px rgba(0, 0, 0, .9);
    background-color: white;
    z-index: 3;
    transition: .8s;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav__item{
    display: flex;
    justify-content: center;
  }
  .nav__toggle{
    display: block;
    font-weight: bold;
  }
}

/* show topbar */
.show-menu{
  top: 0;
  transition: .3s;
  background-color: lightgray;
  box-shadow: 0 4px 1px rgba(0, 0, 0, .2);
}