/* ============ FONTS ============ */
/* IBM Plex mono/sans */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

/* ============ CSS VARIABLES ============ */
:root {
  --header-height: 6rem;

  /* Margins */
  --m-1: 1rem;
  --m-1-25: 1.25rem;
  --m-1-5: 1.5rem;

  /* Hover overlay */
  --btn-transition: 0.7s;

  /* Font and typography */
  --main-font: "IBM Plex Mono", monospace;
  --second-font: "IBM Plex Sans", monospace;
  --bigget-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Colours */
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}

/* ============ RESET CSS ============ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--navy);
  color: var(--slate);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* ============ REUSABLE CSS CLASSES ============ */
.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.flex {
  display: flex;
}

.icon {
  color: var(--light-slate);
  font-size: 1.5rem;
  margin: 5px;
}

/* ============ HEADER ============ */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--navy);
}
/* Hide header on scroll */
.hide__header {
  background: transparent;
  box-shadow: none;
}

/* ============ NAV ============ */
/* Nav Menu */
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5rem;
}

.nav__list {
  display: flex;
  column-gap: 3.5rem;
  padding-right: 3rem;
  list-style: none;
}

.hide__menu {
  display: none;
}

.nav__link {
  padding-bottom: 5px;
  color: var(--lightest-slate);
}

.nav__item{
  font-size: 14px;
}

.nav__item a span {
  color: #64ffda;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--green);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Nav logo */
.triple-border {
  display: inline-block;
  position: relative;
}

.triple-border:before,
.triple-border:after {
  content: "";
  position: absolute;
  z-index: 2;
  border: 2px solid var(--green);
  border-radius: 5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.triple-border:before {
  left: 0;
  top: 0;
}

.triple-border:after {
  right: 0;
  bottom: 0;
}

.triple-border__container {
  color: var(--green);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem;
}

.triple-border:hover .triple-border__container {
  color:var(--navy);
  background-color:var(--green);
}

.new__logo {
  color: var(--green);
  background: var(--navy);
}

.nav__toggle{
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#main {
  position: relative;
  top: -6rem;
}

/* ============ HOME ============ */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.home h1 {
  color: var(--green);
  margin: 0 0 20px 4px;
  font-size: 1rem;
  font-weight: 400;
}

.home h2 {
  margin-bottom: 20px;
  line-height: 1.1;
  font-weight: 600;
  color: var(--lightest-slate);
  font-size: 4rem ;
}

.home h3 {
  margin-bottom: 20px;
  line-height: .9;
  font-size: 3rem ;
  color: var(--slate);
  font-weight: 600;
}

.home p {
  max-width: 65%;
  margin-bottom: 30px;
  line-height: 1.7;
}

.home p span {
  color: var(--green);
}

.home__info-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(27, 78, 81);
  width: fit-content;
  padding: 1rem 2.2rem;
  color: white;
  margin-top: 3rem;
  border-radius: 10px;
  z-index: 10;
}

.home__info-arrow {
  font-size: 1.25rem;
  padding-left: 10px;
  position: relative;
  animation: linear infinite alternate;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: translateArrow;
  -webkit-animation-duration: 1s;
  animation-name: translateArrow;
  animation-duration: 1s;
}

.home__info-btn::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(27, 78, 81);
  border-radius: 10px;
  width: calc(100%);
  height: calc(100%);
  top: 5px;
  left: 5px;
  z-index: -1;
}

.home__info-btn:hover {
  background-color: var(--lightest-navy);
  transition: var(--btn-transition);
  z-index: 100;
}

/* Change the ::before properties when hovering the parent */
.home__info-btn:hover::before {
  border: 1px solid var(--lightest-navy);
  transition: var(--btn-transition);
  width: calc(90%);
  height: calc(90%);
  top: 0;
  left: 0;
}

.home__info-btn:hover .home__info-arrow {
  animation: none;
}

.home__img img {
  padding-left: 20px;
}

/* ============ ABOUT ============ */
.about__title {
  font-size: var(--h1-font-size);
  width: fit-content;
  color: var(--lightest-slate);
}

.about__title::before {
  position: relative;
  bottom: 4px;
  content: "01.";
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 300;
}

.about__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 300px;
  background-color: var(--lightest-navy);
  position: relative;
  top: -7px;
}

.about__container {
  grid-template-columns: 1.2fr 1fr;
  padding-top: 2rem;
  column-gap: 2rem;
}

.about__description {
  font-family: var(--second-font);
  line-height: 1.5;
  font-size: 1.25rem;
}

.about__info-tech {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.89rem;
  font-size: 1.1rem;
}

.ri-arrow-right-s-fill {
  font-weight: bold;
  color: var(--green);
}

.about__img {
  margin: 0 auto;
  z-index: 2;
}

.about__img-wrapper {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 5px;
}

.about__img-overlay {
  height: 100%;
  border-radius: 5px;
}

.about__img-wrapper::before {
  content: "";
  position: absolute;
  border: 2px solid var(--green);
  border-radius: 5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
}

.about__img-wrapper::before {
  top: 15px;
  left: 15px;
}

.about__img-wrapper:hover::before {
  top: 8px;
  left: 8px;
  transition: 0.3s;
}

/* ============ PROJECTS ============ */

.projects__title {
  font-size: var(--h1-font-size);
  width: fit-content;
  color: var(--lightest-slate);
  margin: 10px 0px 40px;
}

.projects__title::before {
  position: relative;
  bottom: 4px;
  content: "02.";
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 300;
}

.projects__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 300px;
  background-color: var(--lightest-navy);
  position: relative;
  top: -7px;
}

.projects__featured {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
  list-style: none;
  padding: 0px;
}

.project__content-right {
  z-index: 10;
  grid-area: 1 / 7 / 1 / 13;
  text-align: right;
}

.project__image-left {
  max-width: 700px;
  grid-area: 1 / 1 / 1 / 8;
  max-height: 360px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 30px -1px black;  
}

.project__content-left {
  z-index: 10;
  grid-area: 1 / 1 / 1 / 7;
  text-align: left;
}

.project__image-right {
  max-width: 700px;
  z-index: 5;
  grid-area: 1 / 6 / 1 / 13;
  max-height: 360px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 30px -1px black;   
}

.project-image__image {
  height: 100%;
  border-radius: 5px;
  filter: grayscale(70%) brightness(80%);
}

.project-image__image:hover{
  filter: none;
}

.project-overline {
  color: var(--green);
  font-size: .8rem;
}

.project-title {
  color: var(--lightest-slate);
  margin: 0 0 25px;
  font-family: var(--second-font);
  font-size: 1.3rem;
}

.project-description {
  box-shadow: 0 10px 30px -15px black;
  background-color: var(--light-navy);
  padding: 25px;
  color: var(--light-slate);
  border-radius: 5px;
  font-family: var(--second-font);
  margin: 0 0 20px;
}

.project-tech-list {
  margin-bottom: 15px;
  color: var(--slate);
  text-decoration: none;
}

.project-tech-list li {
  display: inline;
  padding: 0 6px;
}

.project-links {
  display: inline;
  /* display: flex;
  justify-content: flex-end; */
}

.github, .demo {
  transition: transform 0.2s ease-in;
}

.demo:hover, .github:hover {
  transform: translateY(-5px);
}

.icon:hover {
  color: var(--green);  
}

/* ============ OTHER PROJECTS ============ */

.projects-other__heading {
  margin: 0 auto 55px;
  text-align: center;
  color: var(--lightest-slate);
  font-family: var(--second-font);
  font-size: 2rem;
  width: fit-content;
  display: block;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 18px;
  position: relative;
}

.projects-other__list {
  background-color: var(--light-navy);
  border-radius: 5px;
  transition: .5s;
}

.projects-other__list:hover {
  transform: translateY(-10px);
}

.projects__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1.75rem;
  justify-content: space-between;
  box-shadow: 0 10px 30px -15px black;
}

.folder-icon {
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 300;
}

.projects__card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m-1-5);
}

.projects__card-title {
  color: var(--lightest-slate);
  font-size: 1.5rem;
  margin-bottom: .75rem;
  font-family: var(--second-font);
}

.projects__card-title:hover {
  color: var(--green);
}

.projects__card-description {
  color: var(--light-slate);
  font-family: var(--second-font);
  margin-bottom: var(--m-1);
}

.projects__card-tech li {
  display: inline;
  font-size: .8rem;
  padding: .5rem;
  
}

/* ============ CONTACT ============ */

#contact {
  text-align: center;
  
}

.contact__heading {
  color: var(--green);
  font-weight: 300;
  font-size: 1.2rem;
}

.contact__heading::before {
  content: "03. ";
  color: var(--green);
  position: relative;
  font-size: 1rem;
}

.contact__title {
  color: var(--lightest-slate);
  font-family: var(--second-font);
  font-size: 3rem;
  margin-bottom: var(--m-1-5);
}

.contact__description {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-family: var(--second-font);
}

.contact__button {
  position: relative;
  background-color: rgb(27, 78, 81);
  width: fit-content;
  padding: 1rem 2.2rem;
  color: white;
  border-radius: 10px;
  z-index: 10;
}

.contact__button::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(27, 78, 81);
  border-radius: 10px;
  width: calc(100%);
  height: calc(100%);
  top: 5px;
  left: 5px;
  z-index: -1;
}

.contact__button:hover {
  background-color: var(--lightest-navy);
  z-index: 100;
  transition: var(--btn-transition);
}

.contact__button:hover::before {
  border: 1px solid black;
  width: calc(90%);
  height: calc(90%);
  top: 0;
  left: 0;
  transition: var(--btn-transition);
}


/* =========== FOOTER ===========*/
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 65px;
  padding: 15px;
  text-align: center;
  position: relative;
  top: 80px;
}

footer a {
  color: var(--slate);
  font-size: 12px;
}

/* ========== KEYFRAMES ==========*/
/* keyframes for arrow animation */
@keyframes translateArrow {
  0% {
    left: -3%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 3%;
  }
}

/* ======== MEDIA QUERIES ======== */

@media screen and (min-width: 1600px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .home__img {
    display: none;
  }
  
  .container{
    max-width: 100%;
    padding: 0 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    padding-top: 7rem;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .home__info{
    max-width: 100%;
  }
  .home{
    height: 100vh;
  }

  .about__container{
    display:flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    align-items: center;
  }
  .about__img{
    margin: 5rem auto;
  }

  .cs__container{
    padding-top: 10rem;
  }
  .project__container{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    height: 600px;
    padding: 2rem;
  }
  .project__info{
    padding: 0;
  }
  .project__img-1{
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .nav{
    width: 100%;
    display:flex;
  }
  .nav__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 50px 10px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .9);
    background-color: white;
    z-index: 3;
    transition: .8s;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav__item{
    display: flex;
    justify-content: center;
  }
  .nav__toggle{
    display: block;
    font-weight: bold;
  }
}

/* show topbar */
.show-menu{
  top: 0;
  transition: .3s;
  background-color: lightgray;
  box-shadow: 0 4px 1px rgba(0, 0, 0, .2);
}